<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Pilgrimage to Ayodhya</h1>
    <h5> Nagri ho Ayodhya si, Raghukul sa gharana ho, Aur charan ho Raaghav ke jaha mera thikana ho.</h5>
    <p> Yes , We all want to go to Ayodhya and withness the RAM Rajya with our own eyes and soul. Now Imagine the situation of all
    those old age people with this intense desire in their heart. We at Raahi , want to pay our contribution in full-filling this 
    desire . That is why we have decided to take 60 Willing Old age people from various old age centers to 3 days \4 night trip to Ayodhya </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                 <img src="../../2024events/ayodhya.jpg" alt="">
            </div>
            <div class="about-content">
                   
                    <p>PLANNING </p>
                    <p>1. Event Dates : 14 Nov,2024 to 17 Nov,2024 </p>
                    <p>2. Listing 60 Old age residents with Names, Addhar card, Age, Mobile number, care-giver details</p>
                    <p>3. Train ticket Booking .</p>
                    <p>4. Stay in Ayodhya.</p>
                    <p>5. Ayodhya Itinerary Finalization .</p>
                    <p>6. Fooding in Ayodhya .</p>
                    <p>7. Local City Travel .</p>
                    <p>8. Approximate Fund Requirement : Rs 300000 .</p>
                    <p>9. Fund Raiser .</p>
            </div>
        </section>
    </div>

<%- include('../partials/_footer'); -%>