<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Pilgrimage to Haridwar</h1>
    <h5>Feel the Divine Flow at Har Ki Pauri</h5>
    <p>Yes, we all yearn to witness the sacred land of Haridwar and experience its divine essence. Now Imagine the situation of all
    those old age people with this intense desire in their heart. We at Raahi , want to pay our contribution in full-filling this 
    desire . That is why we have decided to take 60 Willing Old age people from various old age centers to 2 days \1 night trip to Haridwar </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                 <img src="../../2024events/Haridwar.png" alt="">
            </div>
            <div class="about-content">
                   
                    <p>1. Event Dates : 25 Nov,2024 and 26 Nov,2024 </p>
                    <p>2. Listing 60 Old age residents with Names, Addhar card, Age, Mobile number, care-giver details</p>
                    <p>3. Bus Booking .</p>
                    <p>4. Stay in Haridwar.</p>
                    <p>5. Haridwar Itinerary Finalization .</p>
                    <p>6. Fooding in Haridwar .</p>
                    <p>7. Local City Travel .</p>
                    <p>8. Approximate Fund Requirement : Rs 300000 .</p>
                    <p>9. Fund Raiser .</p>
            </div>
        </section>
    </div>
    
    <div class="wrapper">
    <h1>Food</h1>
    <div class="events">
    <div class="team_member">
	 <table>
	   <tr>
	   	<th>Day</th>
	      <th>Breakfast</th>
	      <th>Lunch</th>
	      <th>Snacks</th>
	      <th>Dinner</th>
	   </tr>	
		<tr>
		 <td>1</td>
	      <td>Chai , Upma </td>
	     	<td>Dosa</td>
	       <td>Chai , Biscuit</td>
	         <td>Local Cuisine/Khichdi</td>
	   </tr>
	   <tr>
	    <td>2</td>
	     <td>Chai , Idli</td>
	      <td>Local Cuisine</td>
	      <td>Chai , Mathri</td>
	        <td>Local Cuisine/Khichdi</td>
	     
	   </tr>
	 <!--<tr>
	  	 <td>3</td>
	  	 <td>Chai , Bread Jam </td>
	  	  <td>Local Cuisine</td>
	      <td>Chai , Namkeen</td>
	       <td>Local Cuisine/Khichdi</td>
	   </tr>-->
	  
	</table>
    </div>
	</div>
    
    <div class="wrapper">
    <h1>Itinerary</h1>
    <div class="events">
    <div class="team_member">
	 <table>
	   <tr>
	      <th>Day1</th>
	      <th>Day2</th>
	      	
		<tr>
	      <td>Har Ki Pauri </td>
	      <td>Ganga Ji Aarti</td>
	      
	   </tr>
	   <tr>
	      <td></td>
	      <td></td>
	      
	   </tr>
	   <tr>
	      <td> </td>
	      <td></td>
	      
	   </tr>
	   <tr>
	      <td></td>
	      <td> </td>
	      
	   </tr>
	  
	</table>
    </div>
	</div>
    
    <div class="wrapper">
    <h1>Beneficiaries</h1>
    <div class="events">
    <div class="team_member">
	 <table>
	   <tr>
	      <th>Sr no</th>
	      <th>Name</th>
	      <th>Age</th>
	      <th>Aadhar Card</th>
	      <th>Phone no</th>
	      <th>Care-Giver</th>
	      <th>Old Age Center</th>
	      <th>PNR</th>
	   </tr>	
		<tr><td>1</td><td>Sample</td><td>60</td><td>XXX-XXXX-XXXX</td><td>XXXXXXXXXX</td><td>Sample Name</td><td>Sector 28</td><td>PNR</td></tr>  
	  
	</table>
    </div>
	</div>
	
	 <div class="wrapper">
    <h1>Funding</h1>
    <div class="events">
    <div class="team_member">
	 <table>
	   <tr>
	      <th>Sr no</th>
	      <th>Name</th>
	      <th>Amount</th>
	      <th>Date</th>
	      <th>funded for project</th>
	   </tr>
	   <tr>
	      <td>1</td>
	      <td>Sample</td>
	      <td>Rs 20000</td>
	      <td><%= new Date();%></td>
	      <td>Accomodation</td>
	   </tr>	
		 
	  
	</table>
    </div>
	</div>

<%- include('../partials/_footer'); -%>