<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>Financial Summary(Data Entry in Progress)</h1>
    <div class="events">
    <div class="team_member">
	 <table>
	   <tr>
	      <th>Sr no</th>
	      <th>Source</th>
	      <th>Credit</th>
	      <th>Debit</th>
	      <th>Date</th>
	   </tr>
	   
		<tr><td>1</td><td>Ravinder Sahu</td><td>20000</td><td></td><td>1 Jan,2024</td></tr>
		<tr><td>2</td><td>Hansraj Sharma</td><td>20000</td><td></td><td>1 Jan,2024</td></tr>
		<tr><td>3</td><td>Sneha Sharma</td><td>20000</td><td></td><td>1 Jan,2024</td></tr>
		<tr><td>Total</td><td></td><td>60000</td><td></td><td><%= new Date().getFullYear();%></td></tr>
		
	        
	  
	</table>
    
    </div>

</div>

<%- include('../partials/_footer'); -%>