<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>Financial Summary(Data Entry in Progress)</h1>
    <div class="events">
    <div class="team_member">
	 <table>
	   <tr>
	      <th>Sr no</th>
	      <th>Source</th>
	      <th>Credit(Rs)</th>
	      <th>Debit(Rs)</th>
	      <th>Date</th>
	   </tr>
	   
		
		<tr><td>1</td><td>Hansraj Sharma</td><td>64000</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>2</td><td>Kishore Gujaral</td><td>5000</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>3</td><td>Sneha Sharma</td><td>12000</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>4</td><td>Vivek Aggarwal</td><td>2100</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>5</td><td>Ankit Kumar Garg</td><td>21000</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>6</td><td>Manoj Goyal</td><td>11000</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>7</td><td>Vivek Gupta</td><td>11000</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>8</td><td>Navneet Kanojia</td><td>1100</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>9</td><td>Meenu Rastogi</td><td>1100</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>10</td><td>Kamal Aggarwal</td><td>11000</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>11</td><td>Notesh Kumar</td><td>50000</td><td></td><td>1 Jan,2023</td></tr>
		<tr><td>12</td><td>Pilgrimage Trip To Haridwar</td><td></td><td>1,20,000</td><td>25 Nov,2023</td></tr>
		<tr><td>Total</td><td></td><td>1,89,300</td><td>1,20,000</td><td><%= new Date().getFullYear() -1 ;%></td></tr>
		
	        
	  
	</table>
    
    </div>

</div>

<%- include('../partials/_footer'); -%>