


</div>
<body> 
    <div class="footer">
         <div class="footerContainer">
            <div class="socialIcons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
                <ul>
                <li><a href="/"> Home</a></li>
                <li><a href="/upcoming"> New</a></li>
                <li><a href="/home"> About</a></li>
                <li><a href="/contactus"> ContactUs</a></li>
                <li><a href="/team">Our Team</a></li>
                </ul>
                </div>
            </div>
     <div class="footerBottom">
        <p>Copyright &copy;2024; Designed by<span clas="designer"> Sneha Sharma</span></p> 
        </div>
        </div>
    </body>
</body>
</html>