<div class="container">
    <table>
        <tr>
          <th>Founder</th>
          <th>Legal Assistant</th>
          <th>Human Resource</th>
          <th>Technical</th>
        </tr>
        <tr>
          <td>Hansraj Sharma</td>
          <td>Ravinder Sahu</td>
          <td>Ishu</td>
          <td>Sneha Sharma</td>
        </tr>
        <tr>
          <td>Ravinder Sahu</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table> 
</div>