<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>Awards & Recognition</h1>
    <div class="events">
    <div class="team_member">
        <div class="team_img">
                <img src="../../images/awards/10may2024medanta.jpeg" alt="">
        </div>
        <h3>Medanta</h3>
        <p class="role">Celebration</p>
        <p >Date : 10 May,2024</p>
        <p >Venue : Medanta , Gurgaon</p>
        <p>Recognition to Deepika & Sneha by medanta group for wonderful work in organizing health check up camps in NCR location . 
        </p>
     </div>
    
    </div>

</div>

<%- include('../partials/_footer'); -%>