<%- include('../partials/_header'); -%>

<div class="heading">
<h1>Welcome to Raahi</h1>
<p>Raahi as word means traveller and a companion .God has created a journey for everyone and only he can complete that journey.
    In Gods various avatars he has shown that we can all play a role of "Sarathi" to others. This is what we 
    believe in Raahi.
</p>
</div>

<div class="container">
    <section class="about">
        <div class="about-image">
            <img src="../../images/raahi foundation logo.png">
        </div>
        <div class="about-content">
                <p>
                With the ambition to Help Others and be a Raahi in their journey . Raahi Foundation Trust was formed by
                Mr Ravinder Sahu and Mr Hansraj Sharma on Date 17 October 2021. Trust was also registered with Id 462/2022-23/Delhi.
                Following are the vision and mission of the Trust .
                </p>
                <p>1. Good Education to All.</p>
                <p>2. Environment Conservation .</p>
                <p>3. Helping people in adopting Healthy Habbits and Healthy Natural Products .</p>
                <p>4. Taking People from Old Age Center to free Pilgrimage Trips .</p>
                <p>5. Support to Old Age Center .</p>
        </div>
    </section>
</div>

<div class="heading">
		<h2>Raahi Foundation - Value,Vision & Mission</h2>
		<p><b>Value :</b> Compassion</p>
		<p><b>Vision :</b> To create a world where every individual, regardless of socio-economic status, enjoys equal access to healthcare, education, and environmental resources while preserving cultural heritage for future generations.</p>
		<p><b>Mission :</b> Raahi Foundation is dedicated to alleviating poverty, providing medical assistance, preserving the environment, supporting underprivileged children, promoting education, and safeguarding monuments and places of historical significance. Through our diverse initiatives we strive to empower communities, foster sustainable development, and preserve the richness of our cultural heritage.</p>
</div>

<%- include('../partials/_footer'); -%>