<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>2023 Successful Events</h1>
    <div class="events">
     <div class="team_member">
        <div class="team_img">
            <img src="../../images/events/2024/pilgrimage.png" alt="">
        </div>
        <h3>Old Age Center Recreation </h3>
        <p class="role">Haridwar Pilgrimage FREE Trip</p>
        <p >Date : </p>
        <p >Venue : </p>
        <p>Haridwar Pilgrimage FREE Trip</p>
     </div>
      <div class="team_member">
        <div class="team_img">
            <img src="../../images/events/2024/pilgrimage.png" alt="">
        </div>
        <h3>Old Age Center Recreation </h3>
        <p class="role">Vrindavan & Govardhan Pilgrimage FREE Trip</p>
        <p >Date : </p>
        <p >Venue : </p>
        <p>Vrindavan & Govardhan FREE Trip</p>
     </div>
    </div>

</div>

<%- include('../partials/_footer'); -%>