<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>2024 Successful Events</h1>
    <div class="events">
     <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/oralhealth.png" alt="">
        </div>	
        <h3>Oral Health</h3>
        <p class="role">Awareness</p>
        <p >Date :  May 10,2024 to June, 2024 </p>
        <p >Venue : NCR </p>
        <p>Providing Awareness among the Kids and under privilege for the importance of cleanliness and Oral hygiene </p>
     </div>
    <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/beattheheat.png" alt="">
        </div>
        <h3>Beat The Heat</h3>
        <p class="role"></p>
        <p >Date : April,2024 </p>
        <p >Venue : Faridabad </p>
        <p>Beat The Heat</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../2024events/healthcheckup.png" alt="">
        </div>
        <h3>Health partner AIIMS</h3>
        <p class="role">Blood Donation Camps</p>
        <p >Date : </p>
        <p >Venue : </p>
        <p>Blood Donation Camps</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../2024events/healthcheckup.png" alt="">
        </div>
        <h3>Health partner Medanta</h3>
        <p class="role">Health Checkup Camp</p>
        <p >Date : </p>
        <p >Venue : </p>
        <p>Health Checkup Camp</p>
     </div>
    
    </div>

</div>

<%- include('../partials/_footer'); -%>