<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>2024 Successful Events</h1>
    
    <div class="events">

      <div class="team_member">
         <div class="team_img">
                 <img src="../../2024events/CampStarted.png" alt="">
         </div>	
         <h3>Free Dental and Eye Checkup</h3>
         <p class="role">Health</p>
         <p >Date : 14 August,2024 </p>
         <p >Venue : Govt. School,Bhim Nagar, Gurgaon </p>
         <p>Dental and Eye checkup camp</p>
         
    
     <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/plantation.png" alt="">
        </div>	
        <h3>Tree Plantation Drive</h3>
        <p class="role">Preserve Environment</p>
        <p >Date : 28 July,2024 </p>
        <p >Venue : Vilage Devarkhana, Near Gurgaon </p>
        <p>300 Ayurvedic Trees were planted. </p>
        <p>These Trees will grow and give home to many birds and animals and Fruits to our nature buddy.  </p>
        <p>Blind School Children were invited as special guest to carry the plantation drive.  </p>
     </div>
     
     <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/oralhealth.png" alt="">
        </div>	
        <h3>Oral Health</h3>
        <p class="role">Awareness</p>
        <p >Date :  May 10,2024 to June, 2024 </p>
        <p >Venue : NCR </p>
        <p>Providing Awareness among the Kids and under privilege for the importance of cleanliness and Oral hygiene </p>
     </div>
    <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/beattheheat.png" alt="">
        </div>
        <h3>Beat The Heat</h3>
        <p class="role"></p>
        <p >Date : April,2024 </p>
        <p >Venue : Faridabad </p>
        <p>Beat The Heat</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../2024events/healthcheckup.png" alt="">
        </div>
        <h3>Health partner AIIMS</h3>
        <p class="role">Blood Donation Camps</p>
        <p >Date : </p>
        <p >Venue : </p>
        <p>Blood Donation Camps</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../2024events/healthcheckup.png" alt="">
        </div>
        <h3>Health partner Medanta</h3>
        <p class="role">Health Checkup Camp</p>
        <p >Date : </p>
        <p >Venue : </p>
        <p>Health Checkup Camp</p>
     </div>
    
    </div>

</div>

<%- include('../partials/_footer'); -%>