<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>2024 Successful Events</h1>
    <div class="events">
    <div class="team_member">
        <div class="team_img">
                <img src="../../images/ravinder.jpeg" alt="">
        </div>
        <h3>Womens's day</h3>
        <p class="role">Celebration</p>
        <p >Date : </p>
        <p >Venue : </p>
        <p>celebrate womens day with raahi</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../images/hansraj.jpeg" alt="">
        </div>
        <h3>Holi</h3>
        <p class="role">Celebration</p>
        <p >Date : </p>
        <p >Venue : </p>
        <p>Celebrate holi with us</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../images/sneha.jpg" alt="">
        </div>
        <h3>Award ceremony</h3>
        <p class="role">Acheivements</p>
        <p >Date : </p>
        <p >Venue : </p>
        <p>Its time to celebrate your achievements</p>
     </div>
    </div>

</div>

<%- include('../partials/_footer'); -%>