<%- include('../partials/_header'); -%>

<div class="wrapper">
 	<h1>Ongoing events</h1>
    <div class="events">
    <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/helpingcommunity.jpeg" alt="">
        </div>	
        <h3>Helping Community</h3>
        <p class="role">Humanity</p>
        <p >Date : Starting July,2024 </p>
        <p >Venue : NCR </p>
        <p>Helping the Lower income class with the daily necessity  </p>
     </div>
    </div>
    <h1>Upcoming events</h1>
    <div class="events">
    
    
     <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/foodsubsidy.jpg" alt="">
        </div>	
        <h3>Ann Daan, Maha Daan</h3>
        <p class="role">Humanity</p>
        <p >Date : 28 July,2024 </p>
        <p >Venue : Gurgaon Court </p>
        <p>Food will be given to 50 people on subsidized rate. </p>
        <p>Food Will be given at the rate of Rs 10 per plate everyday .  </p>
     </div>
      <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/foundationday.jpg" alt="">
        </div>	
        <h3>Celebration</h3>
        <p class="role">Annual Meeting</p>
        <p >Date : October,2024 </p>
        <p >Venue : NCR </p>
        <p>Celebrating Raahi, Annual day with all respected members and Various Ministers </p>
     </div>
      <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/ayodhya.jpg" alt="">
        </div>	
        <h3>Pilgrimage</h3>
        <p class="role">Humanity</p>
        <p >Date : Starting Nov,2024 </p>
        <p >Venue : NCR </p>
        <p>Pilgrimage to Ram Nagri Ayodya for 60 Old Age center Residents </p>
        <p>Fund Required : 2lac , Available : 0  (Please help to raise the money, especially for this cause) </p>
        <p >Sponsor Stay (4 days stay total): Rs 50,000 </p>
        <p >Sponsor Meals(4 *3 days meal total): Rs 50,000 </p>
        <p >Sponsor Local Sight Seeing(Ram Mandir,Saryu Snan,Dhushrath Mahal,Kanak Mahal,Hanumangadhi, Nageshwar Mahadev Temple): Rs 40,000 </p>
        <p >Sponsor Train Ticket (both sides ): Rs 60,000 </p>
        <p >NOTE : You can also join us in the journey and Contribute at the same time. Connect with us to book your seat</p>
        
     </div>
    </div>

</div>

<%- include('../partials/_footer'); -%>