<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>Upcoming events</h1>
    <div class="events">
    <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/helpingcommunity.jpeg" alt="">
        </div>	
        <h3>Helping Community</h3>
        <p class="role">Humanity</p>
        <p >Date : Starting July,2024 </p>
        <p >Venue : NCR </p>
        <p>Helping the Lower income class with the daily necessity  </p>
     </div>
      <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/foundationday.jpeg" alt="">
        </div>	
        <h3>Celebration</h3>
        <p class="role">Annual Meeting</p>
        <p >Date : October,2024 </p>
        <p >Venue : NCR </p>
        <p>Celebrating Raahi, Annual day with all respected members and Various Ministers </p>
     </div>
      <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/ayodhya.jpg" alt="">
        </div>	
        <h3>Pilgrimage</h3>
        <p class="role">Humanity</p>
        <p >Date : Starting Nov,2024 </p>
        <p >Venue : NCR </p>
        <p>Pilgrimage to Ram Nagri Ayodya for the Old Age center Residents </p>
     </div>
    </div>

</div>

<%- include('../partials/_footer'); -%>