<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>Upcoming events</h1>
    <div class="events">
    <div class="team_member">
        <div class="team_img">
                <img src="../../2024events/oralhealth.png" alt="">
        </div>	
        <h3>Oral Health</h3>
        <p class="role">Awareness</p>
        <p >Date : Starting May 10,2024 </p>
        <p >Venue : NCR </p>
        <p>Providing Awareness among the Kids and under privilege for the importance of cleanliness and Oral hygiene </p>
     </div>
    </div>

</div>

<%- include('../partials/_footer'); -%>