<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Contact Us</h1>
    <p>We are open to talk .Feel Free to connect with us for partnership or to join us as Team Raahi</p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../../images/trustdeed.png">
            </div>
            <div class="about-mailer">
                    <h4>Mail us @</p>
                    <p></p>
                    <p>House no C-35-C </p>
                    <p>First Floor Rama Vihar</p>
                    <p>Village Mohamadpur Mazri City</p>
                    <p>Delhi</p>
                    <p>India</p>
                    <p>PIN : 110081</p>
                    <h4>Ring us @ </p>
                        <p> +91 9899333155</p>
                        <p>+91 9310212868</p>
                    <h4>Email us @ </p>
                    <p>raahifoundation@raahiwellness.com  </p>
                    <p>theraahifoundation@gmail.com  </p>
            </div>
        </section>
    </div>
    
<%- include('../partials/_footer'); -%>