<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>Gallery</h1>
    <div class="gallery">
    <div class="gallery-item">
        <div class="gallery-image">
            <img src="../../images/gallery/Camp.jpg"
                            onclick="openModal('../../images/gallery/Camp.jpg')"
                            alt="Image 1">
        </div>
        <h3>Camp</h3>
        <!--<p class="role">Partner as per CSR initiative</p>
        <p>detail desctiption here</p>-->

        <!-- <div class="team_member">
            <div class="team_img">
                <img src="../../images/gallery/CampVideo.mp4" alt="">
            </div>
            <h3>Camp</h3>
           <p class="role">Co NGO</p>
            <p>detail desctiption here</p>
         </div>
     </div>-->`
     
    </div>

</div>

<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<!-- JavaScript for Modal -->
<script>
    function openModal(src) {
        document.getElementById("modalImage").src = src;
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }
</script>

<%- include('../partials/_footer'); -%>