<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>Messages</h1>
    <div class="team">
    <div class="team_member">
        <h3>Ravinder Sahu</h3>
        <p class="role">message summary</p>
        <p>Message here</p>
     </div>
     <div class="team_member">
        <h3>Hansraj</h3>
        <p class="role">message summary</p>
        <p>Message here</p>
     </div>
     <div class="team_member">
        <h3>Arun</h3>
        <p class="role">message summary</p>
        <p>Message here</p>
     </div>
    </div>

</div>

<%- include('../partials/_footer'); -%>