<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>Our Partners</h1>
    <div class="team">
    <div class="team_member">
        <div class="team_img">
                <img src="../../images/Dabur.png" alt="">
        </div>
        <h3>Dabur</h3>
        <p class="role">Partner as per CSR initiative</p>
        <p>detail desctiption here</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../images/humaraparivar.jpg" alt="">
        </div>
        <h3>Humara Parivar</h3>
        <p class="role">Co NGO</p>
        <p>detail desctiption here</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../images/humaraparivar.jpg" alt="">
        </div>
        <h3>Humara Parivar</h3>
        <p class="role">Co NGO</p>
        <p>detail desctiption here</p>
     </div>
    </div>

</div>

<%- include('../partials/_footer'); -%>