<%- include('../partials/_header'); -%>

<div class="wrapper">
    <h1>Our Team</h1>
    <div class="team">
    <div class="team_member">
        <div class="team_img">
                <img src="../../images/ravinder.jpeg" alt="">
        </div>
        <h3>Ravinder Sahu</h3>
        <p class="role">Founder</p>
        <p>detail desctiption here</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../images/hansraj.jpeg" alt="">
        </div>
        <h3>Hansraj Sharma</h3>
        <p class="role">Founder</p>
        <p>detail desctiption here</p>
     </div>
     <div class="team_member">
        <div class="team_img">
            <img src="../../images/sneha.jpg" alt="">
        </div>
        <h3>Sneha Sharma</h3>
        <p class="role">Technical Architect</p>
        <p>detail desctiption here</p>
     </div>
    </div>

</div>

<%- include('../partials/_footer'); -%>