<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Raahi For Education</h1>
    <p>Education is the birth Right for every individual.Sadly not everybody gets that.
     One of the objective of Raahi Foundation is to play its part in it.
    </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../../images/childeducation.png">
            </div>
            <div class="about-content">
                    <p>
                     .
                    </p>
                    <p>1. Guide Street Kids about the options they have to study.</p>
                    <p>2. Provide Free tuitions and Study Mentor to the children .</p>
                    <p>3. Adopting Kids in paying their tution fees .</p>
                    <p>4. Helping kids in enrolling for the board Exams from Open.</p>
                    <p>5. Providing required supplies for the education of kids example copies, pens ,colors etc .</p>
            </div>
        </section>
    </div>
     <div class="events">
        <div class="team_member">
        <div class="team_img">
                <img src="../../images/kids/kids12024.jpeg" alt="">
        </div>
        <div class="team_img1">
                 <img src="../../images/kids/kids22024.jpeg" alt="">
        </div>
        <div class="team_img2">
                 <img src="../../images/kids/kids32024.jpeg" alt="">
        </div>
         <div class="team_img3">
                 <img src="../../images/kids/kids42024.jpeg" alt="">
        </div>
         <div class="team_img4">
                 <img src="../../images/kids/kids52024.jpeg" alt="">
        </div>
         <div class="team_img5">
                <img src="../../images/kids/kids62024.jpeg" alt="">
        </div>
         <div class="team_img6">
                 <img src="../../images/kids/kids72024.jpeg" alt="">
        </div>
         <div class="team_img7">
                <img src="../../images/kids/kids82024.jpeg" alt="">
        </div>
         <div class="team_img9">
                 <img src="../../images/kids/kids92024.jpeg" alt="">
        </div>
        <div class="about-content">
                    <p>|</p>
                    <p>|</p>
                    <p>|</p>
            </div>
     </div>
    
     <div class="events">
        <div class="team_member">

        <h3>Techincal Educational videos</h3>
        <p >Github : https://youtu.be/OxRPPHGsWVo </p>
        <p >Node Js: </p>
        <p> Eclipse : </p>
        <p> Maven : </p>
        <p> Cloud : </p>
        <p> Gen AI: </p>
        <p> Java: </p>
     </div>

<%- include('../partials/_footer'); -%>