<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Raahi For Education</h1>
    <p>Education is the birth Right for every individual.Sadly not everybody gets that.
     One of the objective of Raahi Foundation is to play its part in it.
    </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../../images/childeducation.png">
            </div>
            <div class="about-content">
                    <p>
                     .
                    </p>
                    <p>1. Guide Street Kids about the options they have to study.</p>
                    <p>2. Provide Free tuitions and Study Mentor to the children .</p>
                    <p>3. Adopting Kids in paying their tution fees .</p>
                    <p>4. Helping kids in enrolling for the board Exams from Open.</p>
                    <p>5. Providing required supplies for the education of kids example copies, pens ,colors etc .</p>
            </div>
        </section>
    </div>

<%- include('../partials/_footer'); -%>