<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Raahi For Environment</h1>
    <p>Preservation of Environment is everybody's responsibility.Its a beautiful symphony of society and nature. 
    </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../../images/environment.png">
            </div>
            <div class="about-content">
                    <p>
                    What is done is done but, we can plan a green future together. Raahi plans to grow trees every rainy season in various parts of NCR and plan to expand all over India
                    </p>
                    <p>1. Raahi Planted 300 trees in the year 2023.</p>
                    <p>2. Raahi has plan to plant 3000 trees in the year 2024 . During the month of July and August .</p>
                    <p>3. Educate People about clean living habits  .</p>
                    <p>4. Plan Meeting which are 100% litter free .</p>
                    <p>5. Increase use of re-useable stuff .</p>
            </div>
        </section>
    </div>
    
    <div class="heading">
    <h3>2024</h3>
    <p>Tree Plantation Drive Memories from Village Devarkhana </p>
    </div>
     <div class="events">
        <div class="team_member">
        <div class="team_img">
                <img src="../../images/environment/28July2024_1.jpeg" alt="">
        </div>
        <div class="team_img1">
                <img src="../../images/environment/28July2024_2.jpeg" alt="">
        </div>
        <div class="team_img2">
                <img src="../../images/environment/28July2024_3.jpeg" alt="">
        </div>
         <div class="team_img3">
                <img src="../../images/environment/28July2024_4.jpeg" alt="">
        </div>
         <div class="team_img4">
                <img src="../../images/environment/28July2024_5.jpeg" alt="">
        </div>
         <div class="team_img5">
                <img src="../../images/environment/28July2024_6.jpeg" alt="">
        </div>
         <div class="team_img6">
                <img src="../../images/environment/28July2024_7.jpeg" alt="">
        </div>
         <div class="team_img7">
                <img src="../../images/environment/28July2024_8.jpeg" alt="">
        </div>
         <div class="team_img9">
                <img src="../../images/environment/28July2024_9.jpeg" alt="">
        </div>
        <div class="about-content">
                    <p>|</p>
                    <p>|</p>
                    <p>|</p>
            </div>
     </div>

<%- include('../partials/_footer'); -%>