<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Raahi For Environment</h1>
    <p>Preservation of Environment is everybody's responsibility.Its a beautiful symphony of society and nature. 
    </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../../images/environment.png">
            </div>
            <div class="about-content">
                    <p>
                    What is done is done but, we can plan a green future together. Raahi plans to grow trees every rainy season in various parts of NCR and plan to expand all over India
                    </p>
                    <p>1. Raahi Planted 300 trees in the year 2023.</p>
                    <p>2. Raahi has plan to plant 3000 trees in the year 2024 . During the month of July and August .</p>
                    <p>3. Educate People about clean living habits  .</p>
                    <p>4. Plan Meeting which are 100% litter free .</p>
                    <p>5. Increase use of re-useable stuff .</p>
            </div>
        </section>
    </div>

<%- include('../partials/_footer'); -%>