<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Raahi For Naturopathy</h1>
    <p> Raahi focuses on everyone's health .Environment or Human. Old or Young or Kids.
    </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../../images/Naturopathy.png">
            </div>
            <div class="about-content">
                    <p> WE CARE.
                    </p>
                    <p>1. Raahi Wellness Project is already in progress which will focus on naturopathy.</p>
                    <p>2. On Regular Basis 500 people will be benefited from the project .</p>
                    <p>3. People who are already struggling with their weight, lifestyle will be guided and helped .</p>
                    <p>4. Special Places and floors will be reserved for the old age people .</p>
                    <p>5. People can come together to meditate and server nature .</p>
            </div>
        </section>
    </div>

<%- include('../partials/_footer'); -%>