<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Raahi For Naturopathy</h1>
    <p>Raahi as word means traveller and a companion .God has created a journey for everyone and only he can complete that journey.
        In Gods various avatars he has shown that we can all play a role of "Sarathi" to others. This is what we 
        believe in Raahi.
    </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../../images/Naturopathy.png">
            </div>
            <div class="about-content">
                    <p>
                    With the ambition to Help Others and be a Raahi in their journey . Raahi Foundation Trust was formed by
                    Mr Ravinder Sahu and Mr Hansraj Sharma on Date . Trust was also registered with Id.
                    Following are the vision and mission of the Trust .
                    </p>
                    <p>1. Good Education to All.</p>
                    <p>2. Environment Conservation .</p>
                    <p>3. Helping people in adopting Healthy Habbits and Healthy Natural Products .</p>
                    <p>4. Taking People from Old Age Center to free Pilgrimage Trips .</p>
                    <p>5. Support to Old Age Center .</p>
            </div>
        </section>
    </div>

<%- include('../partials/_footer'); -%>