<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Raahi For Elder Care</h1>
    <p>Respect , Love and Care about Elders . Our Elders are the building stone of our society . Sadly some are left alone in the 
    last of their Lives. But no issues, we are family and we can stay together
    </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../../images/eldercare.png">
            </div>
            <div class="about-content">
                    <p>
                    Serving Elders is one of the major Agenda in Raahi's Vision . We take several steps through out the year to achieve the same  .
                    </p>
                    <p>1. Frequent Visits to Old age center.</p>
                    <p>2. Gifting Clothes and other necessary items like Toothpastes, creams, Glucose etc.</p>
                    <p>3. Help in term of non-persihable items like Atta, Dal, Rice etc .</p>
                    <p>4. Taking People from Old Age Center to free Pilgrimage Trips .Once a Year</p>
                    <p>5. Monetary Support to Old age center .</p>
            </div>
        </section>
    </div>

<%- include('../partials/_footer'); -%>