<%- include('../partials/_header'); -%>

<div class="heading">
    <h1>Raahi For Youth Training</h1>
    <p>Youth Plays a big role in every society. Todays youth is tomorrow's Leader. 
    </p>
    </div>
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../../images/youthtraining.png">
            </div>
            <div class="about-content">
                    <p>1. Provide interships to various university students.</p>
                    <p>2. Inculcate community serving habits among the students .</p>
                    <p>3. Include youth in community serving.</p>
                    <p>4. Make youth Job ready.</p>
                    <p>5. Encourage the young students to follow a healthy mind, healthy thought habit .</p>
                    <p>5. Give Direction to Young Students to excel in life .</p>
          
            </div>
        </section>
    </div>
    
    <div class="events">
        <div class="team_member">
        <div class="team_img">
                <img src="../../images/youth/Internship2024.jpg" alt="">
        </div>
        <h3>Batch-3 B-tech Intership</h3>
        <p class="role">6 month technical intership</p>
        <p >Date : June,2024</p>
        <p >Venue : Online</p>
        <p>6 month technical Intership involving Varsha .</p>
        <p>Path to cover : Github ,Maven, Node, Java, Cloud , Docker</p>
     </div>
    <div class="team_member">
        <div class="team_img">
                <img src="../../images/youth/may2024.png" alt="">
        </div>
        <h3>Batch-2 B-tech Intership</h3>
        <p class="role">1 month technical intership</p>
        <p >Date : May,2024</p>
        <p >Venue : Online</p>
        <p>1 month technical Intership was provided to Kanishka, Samiksha and Priyanshu .</p>
        <p>Technical learning was provided to students for developing a node jS application.</p>
     	<p>Further recommendation : Explore more about node JS. cloud deployments . Connecting with Database</p>     
     </div>
     <div class="team_member">
        <div class="team_img">
                <img src="../../images/youth/april2024chandigarhuniversity.jpeg" alt="">
        </div>
        <h3>Batch-1 MBA Intership</h3>
        <p class="role">2 month MBA intership</p>
        <p >Date : March-April,2024</p>
        <p >Venue : Online</p>
        <p>2 month MBA Intership was provided to Jinat, Neha and Rudrali .</p>
        <p>Various challenges faced by NGO organization was studied by student.</p>
     	<p>Further recommendation : Explore on the various reports needed for a orgnization, how those can be optimized.</p>
     </div>
    
    </div>

<%- include('../partials/_footer'); -%>